
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Oxanium:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&family=Victor+Mono:wght@100;200;300;400;500;600;700&display=swap');

body{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../imagenes/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    font-family: 'Oxanium', cursive;
    line-height: 1.5rem;
    color:rgb(241, 181, 61);
    justify-content: center;
}

strong{
    color:#5fd2ff
}
h1{
    color: rgb(96, 219, 158);
    padding: 0.5rem;
    border: solid 1px #f3943a; 
    border-radius: 0.3rem; 
}

h2{
    color: #ee5485;
    margin: 1rem;
    padding: 0.5rem;
    border: solid 1px #16ba93; 
    border-radius: 0.3rem; 
}

h3{
    color: rgb(96, 219, 158);
    padding: 0.5rem;
    border-bottom: solid 1px #7d7d7d;  
    margin:0;
}

#perfil{
    color:#fff;
    text-align: justify;
}

#proyecto{
    color:#fff;
    text-align: justify;
}

.column-container{
    display: flex;
    flex-wrap: wrap;  
    margin-top: 2rem;
    width: 90%;
    
}

.container-border{
    flex: 23%;
    border-left: solid 15px #f3943a;
    margin-top: 1rem;
    margin: 1rem;
}

.column-subcontainer{
    padding: 1rem;
    background-color: rgba(47, 56, 63, 0.8);
    margin-left: 0.2rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
    height: 98%;
}

.datospersonales{
    padding-left: 1rem;
    border-left: solid 2px #16ba93;
    color:#00ddff
}

.datospersonales p > strong{
    color:#ee5485;
}
.linecode {
    margin:2rem;
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: solid 2px #54d2ee;  
}

.bordercode {  
    margin-top: 1rem;
    padding: 0.2rem;
    border: solid 1px #7d7d7d; 
    border-radius: 0.3rem; 
}

.photo-perfil{
    display: flex;
    justify-content: center;
}

.photo-perfil > img{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: solid 3px #f3943a;
    border-radius: 50%;
}

progress {
    opacity: 0;
  }
  
.progress-elemento {
  width: 90%;
  margin: 0 0 10px;
}

.progress-container {
  position: relative;
  background: #828282;
  height: 10px;
  border-radius: 6px;
  overflow: hidden;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #f3943a;
}

.progress-elemento-python .progress-container::before {
  animation: progress-python 2s ease-in forwards;
}

.progress-elemento-html .progress-container::before {
    animation: progress-html 2s ease-in forwards;
}

.progress-elemento-css .progress-container::before {
    animation: progress-css 2s ease-in forwards;
}
  
.progress-elemento-wordpress .progress-container::before {
    animation: progress-wordpress 2s ease-in forwards;
}

.progress-elemento-idioma .progress-container::before {
  animation: progress-idioma 2s ease-in forwards;
}

.progress-label {
  position: relative;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.progress-label::after {
  counter-reset: num var(--num);
  content: counter(num) "%";
  position: absolute;
  top: 0;
  right: 0;
}

.progress-elemento-python .progress-label::after {
  animation: progress-text-python 2s ease-in forwards;
}

.progress-elemento-html .progress-label::after {
    animation: progress-text-html 2s ease-in forwards;
}

.progress-elemento-css .progress-label::after {
    animation: progress-text-css 2s ease-in forwards;
}

.progress-elemento-wordpress .progress-label::after {
    animation: progress-text-wordpress 2s ease-in forwards;
}

.progress-elemento-idioma .progress-label::after {
  animation: progress-text-idioma 2s ease-in forwards;
}

@keyframes progress-python {
  to {
    width: 80%;
  }
}

@keyframes progress-html {
    to {
      width: 75%;
    }
}

@keyframes progress-css {
    to {
      width: 70%;
    }
}

@keyframes progress-wordpress {
  to {
    width: 90%;
  }
}

@keyframes progress-idioma {
    to {
      width: 60%;
    }
  }


@keyframes progress-text-python {
    to {
      --num: 80;
    }
}

@keyframes progress-text-html {
    to {
      --num: 75;
    }
}

@keyframes progress-text-css {
    to {
      --num: 70;
    }
}

@keyframes progress-text-wordpress {
    to {
      --num: 90;
    }
}
@keyframes progress-text-idioma {
  to {
    --num: 60;
  }
}

