body{
    background-color: #ccc;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}

.column-container{
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.column-subcontainer{
    flex: auto;
    padding: 2rem;
    background-color: aliceblue;
    margin: 0.5rem;
    border-radius: 0.6rem;
}

.photo-perfil > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}